<div class="containers">
  <div class="dashboard_navbar">
    <div class="dashboard_navbar_header">
      <% if current_user.photo %>
        <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <% end %>
      <p><%= "#{@current_user.name}" %></p>
      <p><%= "#{@current_user.position}" %></p>
    </div>
    <div class="dashboard_navbar_body">
      <div class="ms-4 mt-4 mb-4 extended-content-container">
        <%= link_to "Tableau de Bord", dashboard_path, data: {turbo: false}, class: "btn-middle-white-navbar" %>
      </div>
      <div class="ms-4 mt-4 mb-4 extended-content-container">
        <%= link_to "Bilan Carbone", mon_bilan_carbone_path, data: {turbo: false}, class: "btn-middle-pervenche-navbar" %>
      </div>
      <div class="ms-4 mt-4 mb-4 extended-content-container">
        <%= link_to "Plan d'Action", targets_path, data: {turbo: false}, class: "btn-middle-pervenche-navbar" %>
      </div>
    </div>
    <div class="dashboard_navbar_footer">
      <%= button_to 'Se déconnecter', destroy_user_session_path, method: :delete, class: "btn-bottom-navbar" %>
    </div>
  </div>

  <div class="dashboard_content">
    <div class="dashboard-header container-fluid navbar justify-content-end">
      <svg width="1139" height="258" viewBox="0 0 1139 258" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M1138.91 256.946C936.4 260.941 757.59 199.115 571.904 134.912C396.086 74.1216 214.103 11.1991 0 0H1138.91V256.946Z" fill="#CCF7BB"/>
      </svg>
      <%= link_to root_path do %>
        <%= image_tag "logo.png", class:"w-75 ps-4" %>
        <p>Réduisez votre empreinte carbone!</p>
      <% end %>
    </div>

    <div class="container">
      <div class="dashboard-company-infos">
        <div class="dashboard-company-icon">
          <i class="fa-solid fa-hotel text-center me-5">
            <h2><%= "#{@company.industry}" %></h2>
          </i>
        </div>
        <div class="d-flex flex-column">
          <h1 class="mb-0"><%= "#{@company.name}" %></h1>
          <p class="mb-2"><%= "#{@company.employee_nb} collaborateurs" %></p>
        </div>
      </div>

      <% if @company.footprints.blank? && @company.footprints.flat_map(&:tasks).blank? %>
        <div class="dashboard-company-summary">
          <div class="dashboard-company-summary__figure align-items-center d-flex flex-column justify-content-center">
            <h1><strong><%=  @footprint_benchmark_per_employee.round %></strong>  t/collaborateur</h1>
            <h2><%= "la moyenne du secteur" %></h2>
            <h2><%= "#{@company.industry}" %></h2>
          </div>
          <div class="dashboard-company-summary__footprint align-items-center d-flex flex-column justify-content-center">
          <h1><strong>Voici nos conseils :</strong></h1>
            <p class="px-3">
              Vous pouvez attirer de nouveaux clients et engager vos collaborateur
              dans un projet qui donne du sens à leur travail en vous engageant dans
              une démarche de réduction de votre empreinte carbone. Pour cela il faut
              d'abord évaluer votre empreinte actuelle et la comparer aux meilleurs de
              votre secteur : cliquez sur "Bilan Carbone" pour calculer votre bilan carbone
            </p>
              <%= link_to "Calculer mon bilan carbone", new_company_footprint_path(@company), class: "btn btn-primary hero-button", style:"color:white" %>
          </div>
        </div>

        <div class="card_action_plan align-items-center d-flex flex-column justify-content-center">
            <h1><strong><%= "Plan d'action" %></strong></h1>
            <h3><%= "Une fois votre bilan carbone établi, vous pourrez cliquer sur 'Plan d'Action' pour créer des actions qui réduiront votre empreinte carbone" %></h3>
        </div>
      <% elsif @company.footprints.present? && @company.footprints.flat_map(&:tasks).blank? %>
        <div class="dashboard-company-summary">
          <div class="dashboard-company-summary__figure">
            <h1><strong><%=  @footprint_benchmark_per_employee.round(1)%></strong>t/collaborateur</h1>
            <h2><%= "la moyenne du secteur" %></h2>
            <h2><%= "#{@company.industry}" %></h2>
          </div>
          <div class="dashboard-company-summary__footprint">
            <h1><strong><%= "Mon bilan carbon"%></strong></h1>
            <h3> <%= @company_ghg_result_per_employee.round(1) %>t/collaborateur</h3>
            <h3>soit <%= @company_ghg_result.round(1) %>t/an</h3>
            <div class="d-flex align-items-baseline">
              <% if current_user != nil %>
                <% if current_user.company == nil %>
                  <%= link_to "Calculez un nouveau bilan carbone", new_company_path, class: "btn hero-button-dashboard" %>
                <% else %>
                  <%= link_to "Calculez un nouveau bilan carbone", new_company_footprint_path(@company), class: "btn hero-button-dashboard" %>
                <% end %>
              <% else %>
                <%= link_to "Calculez un nouveau bilan carbone", new_user_session_path, class: "btn hero-button-bilan" %>
              <% end %>
            </div>
          </div>
        </div>

        <div class="card_action_plan">
            <h1><strong><%= "Plan d'action" %></strong></h1>
            <h3><%= "N'attendez plus pour passer à l'action et réaliser vos objectifs ! Avec un plan d'action clair et bien défini, vous êtes prêt à avancer vers la réussite." %></h3>
            <%= link_to "Définir mon plan d'action", targets_path, class: "btn hero-button-bilan" %>
        </div>
      <% elsif @company.footprints.present? && @company.footprints.flat_map(&:tasks).present? %>
        <div class="dashboard-company-summary">
          <div class="dashboard-company-summary__figure">
            <h1><strong><%=  @footprint_benchmark_per_employee.round(1)%></strong>t/collaborateur</h1>
            <h2><%= "la moyenne du secteur" %></h2>
            <h2><%= "#{@company.industry}" %></h2>
          </div>
          <div class="dashboard-company-summary__footprint">
            <h1><strong><%= "Mon bilan carbon"%></strong></h1>
            <h3> <%= @company_ghg_result_per_employee.round(1) %>t/collaborateur</h3>
            <h3>soit <%= @company_ghg_result.round(1) %>t/an</h3>
            <div class="d-flex align-items-baseline">
              <% if current_user != nil %>
                <% if current_user.company == nil %>
                  <%= link_to "Calculez un nouveau bilan carbone", new_company_path, class: "btn hero-button-dashboard" %>
                <% else %>
                  <%= link_to "Calculez un nouveau bilan carbone", new_company_footprint_path(@company), class: "btn hero-button-dashboard" %>
                <% end %>
              <% else %>
                <%= link_to "Calculez un nouveau bilan carbone", new_user_session_path, class: "btn hero-button-bilan" %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="card_action_plan">
            <h1><strong><%= "Mon plan d'action" %></strong></h1>
            <h3><%= "Demander à JP/ Nath comment récuperer les actions pour importer une liste" %></h3>
            <h3><%= @company.footprints.tasks.each do |task| %></h3>
              <%= task.name %>
            <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
