<div class="containers">
  <div class="dashboard_navbar">
    <div class="dashboard_navbar_header">
      <% if current_user.photo %>
        <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <% end %>
      <p><%= "#{@current_user.name}" %></p>
      <p><%= "#{@current_user.position}" %></p>
    </div>
    <div class="dashboard_navbar_body">
      <div class="ms-4 mt-4 mb-4 extended-content-container">
        <%= link_to "Tableau de Bord", dashboard_path, data: {turbo: false}, class: "btn-middle-white-navbar" %>
      </div>
      <div class="ms-4 mt-4 mb-4 extended-content-container">
        <%= link_to "Bilan Carbone", mon_bilan_carbone_path, data: {turbo: false}, class: "btn-middle-pervenche-navbar" %>
      </div>
      <div class="ms-4 mt-4 mb-4 extended-content-container">
        <%= link_to "Plan d'Action", targets_path, data: {turbo: false}, class: "btn-middle-pervenche-navbar" %>
      </div>
    </div>
    <div class="dashboard_navbar_footer">
      <%= button_to 'Se déconnecter', destroy_user_session_path, method: :delete, class: "btn-bottom-navbar" %>
    </div>
  </div>

  <div class="dashboard_content">
    <div class="container-fluid navbar justify-content-end green-wave-top">
        <a class="navbar-brand ml-4" href="#">
          <%= image_tag "logo.png", class:"w-50 ps-4" %>
        <p>Réduisez votre empreinte carbone!</p>
        </a>
    </div>
    <div class="container-fluid">
      <div class="card-product">
      <ul>
        <i class="fa-solid fa-hotel px-5 fs-1 pt-4 text-center"><h2><%= "#{@company.industry}" %></h2></i>
      </ul>
      <div class="card-product-infos">
        <h2><%= "#{@company.name}" %></h2>
        <h2><%= "#{@company.employee_nb} collaborateurs" %></h2>
      </div>
    </div>

    <div class="dashboard_content_body">
     <div class="dashboard_content_graph">
        <div style="width: 800px;" class="chart-container" data-controller="chart"
            data-chart-my-value0="<%= @footprint_benchmark_per_employee.round %>">
            <canvas id="benchmark"></canvas>
        </div>
      </div>
      <div class="dashboard_content_advise flex-column">
        <h1><strong>Voici nos conseils :</strong></h1>
        <ul>
          <li><h5>Vous pouvez attirer de nouveaux clients et engager vos collaborateurs
              dans un projet qui donne du sens à leur travail en vous engageant dans
              une démarche de réduction de votre empreinte carbone. Pour cela il faut
              d'abord évaluer votre empreinte actuelle et la comparer aux meilleurs de
              votre secteur : cliquez sur "Bilan Carbone" pour calculer votre bilan carbone</h5></li>
          <li><h5>Une fois votre bilan carbone établi, vous pourrez cliquer sur "Plan d'Action" pour créer des actions qui réduiront votre empreinte carbone</h5>
        </ul>
      </div>
    </div>
  </div>
</div>
