<div class="containers">
  <div class="dashboard_navbar">
    <div class="dashboard_navbar_header">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" class="rounded-circle" style="width:80px; height:80px"/>
     <p><%= "#{@current_user.name}" %></p>
      <p><%= "#{@current_user.email}" %></p>
    </div>
    <div class="dashboard_navbar_body">
      <div class="dashboard">
        <p>Tableau de Bord</p>
      </div>
      <div class="mon_bilan_carbone">
        <a href="/mon_bilan_carbone">Mon bilan Carbone</a>
      </div>
      <div class="target">
        <a href="/targets">Mon Plan d'Action</a>
      </div>
    </div>
    <div class="dashboard_navbar_footer">
      <%= button_to "Se déconnecter", destroy_user_session_path, method: :delete, class: "btn btn-primary"

      end %>
    </div>
  </div>

  <div class="dashboard_content">

      <div class="dashboard_content_header">
        <div class="card-product">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
          <div class="card-product-infos">
           <h2><%= "Société #{@company.name}" %></h2>
           </div>
        </div>
        <div class="card-product">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
          <div class="card-product-infos">
          <h2><%= "Activité : #{@company.industry}" %></h2>
          </div>
        </div>
        <div class="card-product">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
          <div class="card-product-infos">
          <h2>42 employés</h2>
          </div>
        </div>
      </div>

      <div class="dashboard_content_body">
        <div>
          <p>Content Body</p>
        </div>
      </div>

      <div class="dashboard_content_footer">
        <div class="card_footer">
          <h4>Préciser Mon Bilan Carbone</h4>
          <p>Mesurer précisément mon empreinte</p>
          <div class="btn btn-primary">Cliquer Ici</div>
        </div>
        <div class="card_footer">
          <h4>Réduire mon empreinte CO2</h4>
          <p>Selectionnez un plan </p>
          <div class="btn btn-primary">Cliquer Ici</div>
        </div>
        <div class="card_footer">
          <h4>Communiquer vos résultats</h4>
          <p>Obtenez un bilan officiel et communicable</p>
          <div class="btn btn-primary">Cliquer Ici</div>
        </div>
      </div>
  </div>
</div>
