<div class="container">
  <h1>
    <%= "Société #{current_user.company.name}" %>
  </h1>
  <h2>
    <%= "Activité : #{current_user.company.industry}" %>
  </h2>
</div>

<%= link_to 'Calculer précisément mon bilan carbone', new_company_footprint_path(current_user.company) %>
<%= link_to 'Afficher mes précédents bilans', footprints_path %>
<%# <%= link_to 'Créer une tâche',  %>
