<div class="containers">
  <div class="dashboard_navbar">
    <div class="dashboard_navbar_header">
      <% if current_user.photo %>
        <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <% end %>
      <div>
        <p><%= "#{@current_user.name}" %></p>
        <p><%= "#{@current_user.position}" %></p>
      </div>
    </div>
    <div class="dashboard_navbar_body">
      <div class="dashboard">
        <%= link_to "Tableau de Bord", dashboard_path, data: {turbo: false}, class: "btn btn-primary" %>
      </div>
      <div class="fooprint">
        <%= link_to "Mon Bilan Carbone", mon_bilan_carbone_path, data: {turbo: false}, class: "btn btn-primary"%>
      </div>
      <div class="target">
        <%= link_to "Mon Plan d'Action", targets_path, data: {turbo: false}, class: "btn btn-primary" %>
      </div>
    </div>
    <div class="dashboard_navbar_footer">
      <%= button_to "Se déconnecter", destroy_user_session_path, method: :delete, class: "btn btn-primary" %>
    </div>
  </div>

  <div class="dashboard_content">
    <div class="container-fluid navbar justify-content-end green-wave-top">
        <a class="navbar-brand ml-4" href="#">
          <%= image_tag "logo.png", class:"w-50 ps-4" %>
        <p>Réduisez votre empreinte carbone!</p>
        </a>
    </div>
    <div class="container-fluid">
      <div class="card-product">
      <ul>
        <i class="fa-solid fa-hotel px-5 fs-1 pt-4 text-center"><h2><%= "#{@company.industry}" %></h2></i>
      </ul>
      <div class="card-product-infos">
        <ul>
          <h2><%= "#{@company.name}" %></h2>
          <h2><%= "#{@company.employee_nb} collaborateurs" %></h2>
        </ul>
      </div>
    </div>

    <div class="dashboard_content_body">
      <div style="width: 800px;" class="chart-container" data-controller="chart"
          data-chart-my-value0="<%= @footprint_benchmark_per_employee.round %>">
        <canvas id="benchmark"></canvas>
      </div>
      <div style="width: 800px;" class="chart-container">
        <ul>
          <h3><strong>Voici nos conseils :</strong></h3>
          <h5>Vous n'avez pas encore évalué votre empreinte carbone :</h5>
          <p> Vous pouvez attirer de nouveaux clients et engager vos collaborateurs
              dans un projet qui donne du sens à leur travail en vous engageant dans
              une démarche de réduction de votre empreinte carbone. Pour cela il faut
              d'abord évaluer votre empreinte actuelle et la comparer aux meilleurs de
              votre secteur.
          </p>
        </ul>
      </div>
    </div>

    <div class="dashboard_content_footer">
      <div class="card_footer">
        <h4>Nouveau Bilan Carbone ?</h4>
        <p>Mesurer précisément mon empreinte</p>
        <%= link_to "Cliquez ici", new_company_footprint_path(@company), class: "btn btn-primary" %>
      </div>
      <div class="card_footer">
        <h4>Nouveau Bilan Carbone ?</h4>
        <p>Mesurer précisément mon empreinte</p>
        <div class="btn btn-primary">Cliquer Ici</div>
      </div>
      <div class="card_footer">
        <h4>Nouveau Bilan Carbone ?</h4>
        <p>Mesurer précisément mon empreinte</p>
        <div class="btn btn-primary">Cliquer Ici</div>
      </div>
    </div>
  </div>
</div>
