<%# <%= content_for(:navbar_class, "navbar-home") %>
<%# <div class="banner"> %>
  <%# <div class="banner-content text-center"> %>
    <%# <h1>La plate-forme des PME engagées pour le climat!</h1> %>
    <%# <p>Décarbonnez votre empreinte</p> %>
    <%# <%= link_to "Calculez facilement votre bilan carbone", new_company_url, class: "btn btn-lg btn-primary"  %>
  <%# </div> %>
<%# </div> %>

  <div class="navbar navbar-expand-sm navbar-light ml-4 mr-4 rounded border-black border">
    <div class="container-fluid">
      <a class="navbar-brand ml-4" href="#">
        <%= image_tag "logo.png", class:"w-50 ps-4" %>
      </a>
      <a href="" class= "btn btn-info">Pourquoi Coolcarb?</a>
      <a href="" class= "btn btn-info">Notre offre ?</a>
      <%= link_to "Benchmarks", companies_path, class: "btn btn-info" %>
      <%= link_to "Connexion", new_user_session_path, class: "btn btn-primary" %>
    </div>
  </div>


<div class="container">

  <div class="row justify-content-around hero-banner">
    <div class="text-start col-4 d-flex flex-column justify-content-center">
      <h1><strong>La plateforme des PME engagées pour le climat</strong></h1>
      <p class="mb-3">Vous pouvez <strong>consulter</strong> le bilan carbone des meilleures sociétés!
          Inspirez-vous de leurs <strong>actions de réduction</strong> de leur empreinte carbone!
          Vous pouvez inscrire votre société gratuitement et <strong>calculer votre bilan carbone!</strong>
          Vous pouvez bénéficier de nos conseils pour <strong>engager des actions et engager vos collaborateurs!</strong></p>
      <% if current_user != nil %>
      <% if current_user.company == nil %>
        <%= link_to "Calculez mon empreinte", new_company_path, class: "btn btn-primary hero-button" %>
      <% else %>
        <%= link_to "Calculez mon empreinte", dashboard_path, class: "btn btn-primary hero-button" %>
      <% end %>
      <% else %>
        <%= link_to "Calculez mon empreinte", new_user_session_path, class: "btn btn-primary hero-button" %>
      <% end %>
    </div>
    <div class="col-6 d-flex flex-column justify-content-center">
      <%= image_tag "image-home.png", class:" " %>
    </div>
  </div>

  <div class="category-container">

      <div class='engagement-card'>
        <h1>
          <strong><%= link_to "Exemples de bilans carbone de PME et de leurs plan d'action", companies_path, class: "" %></strong>
        </h1>
      </div>
    <div class="sub-category">
       <div class="news-card">
          <h1><strong>Actualités</strong></h1>
          <div class="col-6 d-flex flex-column justify-content-center">
            <%#= cl_image_tag "https://res.cloudinary.com/dton44gcy/image/upload/v1676975758/Scopes123_b6fru7.png", class: "" %>
            <%= cl_image_tag "https://res.cloudinary.com/dton44gcy/image/upload/v1676985850/infographie-scope-1-2-3_my4599.png", class: "" %>
          </div>
        </div>
        <%# <div class="partner-card">
          <h1><strong>Partenaires</strong></h1>
        </div> %>
    </div>
  </div>
</div>

<div class="footer text-center">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
