<div class="containers">
  <div class="dashboard_navbar">
    <div class="dashboard_navbar_header">
      <% if current_user.photo %>
        <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <% end %>
      <p><%= "#{@current_user.name}" %></p>
      <p><%= "#{@current_user.position}" %></p>
    </div>
    <div class="dashboard_navbar_body">
      <div class="dashboard">
        <%= link_to "Tableau de Bord", dashboard_path, data: {turbo: false}, class: "btn btn-primary" %>
      </div>
      <div class="fooprint">
        <%= link_to "Mon Bilan Carbone", mon_bilan_carbone_path, data: {turbo: false}, class: "btn btn-primary" %>
      </div>
      <div class="target">
        <%= link_to "Mon Plan d'Action", targets_path, data: {turbo: false}, class: "btn btn-primary" %>
      </div>
    </div>
    <div class="dashboard_navbar_footer">
      <div class="btn btn-primary">Se déconnecter</div>
    </div>
  </div>

  <div class="dashboard_content">

    <div class="container-fluid navbar justify-content-end green-wave-top">
      <a class="navbar-brand ml-4" href="#">
        <%= image_tag "logo.png", class:"w-50 ps-4" %>
      <p>Réduisez votre empreinte carbone!</p>
      </a>
    </div>
    <div class="container-fluid justify-content-start">
      <div class="card-product">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-product-infos">
        <h2><%= "#{@company.name}, #{@company.employee_nb} collaborateurs" %></h2>
      </div>
    </div>

    <div class="dashboard_content_body">
      <div>
        <% if @footprint.ghg_result.nil? %>
          <%= link_to "Calculer mon Bilan Carbone", new_company_footprint_path(@company) %>
        <% else %>
          <div style="width: 800px;" class="chart-container" data-controller="chart"
            data-chart-my-value0="<%= @footprint_benchmark_per_employee.round %>"
            data-chart-my-value1="<%= @footprint.scope_1.fdiv(@company.employee_nb).round %>" data-chart-my-value2="<%= @footprint.scope_2.fdiv(@company.employee_nb).round %>"
            data-chart-my-value3="<%= @footprint.scope_3.fdiv(@company.employee_nb).round %>"
            data-chart-my-value4="<%= (@footprint.ghg_result.fdiv(@company.employee_nb) * 0.55).round %>"
            data-chart-my-value5="<%= (@footprint.ghg_result.fdiv(@company.employee_nb) * 0.23).round %>"
            data-chart-my-value6="<%= @footprint.ghg_target.fdiv(@company.employee_nb).round %>">
            <canvas id="footprint"></canvas>
          </div>
        <% end %>
      </div>
        <ul>
          <h3>Voici nos conseils :</h3>
          <h5>Votre position par rapport à vos objectifs :</h5>
            <%= "Vous n'avez pas encore engagé de plan d'action et ne pourrez pas atteindre vos objectifs de réduction de vos émissions en 2030 : cliquez sur \passez à l'action\"" %>
          <h5>Votre position par rapport aux meilleurs :</h5>
            <%= @footprint.ghg_result.fdiv(@company.employee_nb) > ((@footprint_benchmark_per_employee.round) * 1.05) ? "Votre bilan carbone est supérieur aux meilleurs. Pas de stress, nous vous suggérons des actions d'améliorations (\"passez à l'action\")" : "Bravo, vous vous comparez aux meilleurs. Vous pouvez tout de même être le leader en testant nos suggestions d'actions" %>
        </ul>
      </div>
      <div class="dashboard_content_footer">
        <div class="card_footer">
          <h4>Nouveau Bilan Carbone ?</h4>
          <p>Mesurer précisément mon empreinte</p>
          <%= link_to "Cliquez ici", new_company_footprint_path(@company), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
</div>
