<div class="containers">
  <div class="dashboard_navbar">
    <div class="dashboard_navbar_header">
      <% if current_user.photo %>
        <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <% end %>
      <p><%= "#{@current_user.name}" %></p>
      <p><%= "#{@current_user.position}" %></p>
    </div>
    <div class="dashboard_navbar_body">
      <div class="ms-4 mt-4 mb-4 extended-content-container">
        <%= link_to "Tableau de Bord", dashboard_path, data: {turbo: false}, class: "btn-middle-pervenche-navbar" %>
      </div>
      <div class="ms-4 mt-4 mb-4 extended-content-container">
        <%= link_to "Bilan Carbone", mon_bilan_carbone_path, data: {turbo: false}, class: "btn-middle-white-navbar" %>
      </div>
      <div class="ms-4 mt-4 mb-4 extended-content-container">
        <%= link_to "Plan d'Action", targets_path, data: {turbo: false}, class: "btn-middle-pervenche-navbar" %>
      </div>
    </div>
    <div class="dashboard_navbar_footer">
      <%= button_to 'Se déconnecter', destroy_user_session_path, method: :delete, class: "btn-bottom-navbar" %>
    </div>
  </div>

  <div class="dashboard_content">
    <div class="container-fluid navbar justify-content-end green-wave-top">
        <%= link_to root_path do %>
          <%= image_tag "logo.png", class:"w-50 ps-4" %>
        <p>Réduisez votre empreinte carbone!</p>
        <% end %>
    </div>
    <div class="container-fluid">
      <div class="card-product">
      <ul>
        <i class="fa-solid fa-hotel px-5 fs-1 pt-4 text-center"><h2><%= "#{@company.industry}" %></h2></i>
      </ul>
      <div class="card-product-infos">
        <h2><%= "#{@company.name}" %></h2>
        <h2><%= "#{@company.employee_nb} collaborateurs" %></h2>
      </div>
    </div>

    <div class="dashboard_content_body">
      <div class="dashboard_content_graph">
        <% if @footprint.nil? %>
          <%= link_to "Calculer mon Bilan Carbone", new_company_footprint_path(@company) %>
        <% else %>
          <div style="width: 800px;" class="chart-container" data-controller="chart"
            data-chart-my-value0="<%= @footprint_benchmark_per_employee.round %>"
            data-chart-my-value1="<%= @footprint.scope_1.fdiv(@company.employee_nb).round %>"
            data-chart-my-value2="<%= @footprint.scope_2.fdiv(@company.employee_nb).round %>"
            data-chart-my-value3="<%= @footprint.scope_3.fdiv(@company.employee_nb).round %>"
            data-chart-my-value4="<%= (@footprint.ghg_result.fdiv(@company.employee_nb) * 0.77).round %>"
            data-chart-my-value5="<%= (@footprint.ghg_result.fdiv(@company.employee_nb) * 0.45).round %>"
            data-chart-my-value6="<%= @footprint.ghg_target.fdiv(@company.employee_nb).round %>">
            <canvas id="footprint"></canvas>
          </div>
        <% end %>
      </div>
      <div class="dashboard_content_advise flex-column">
        <h1><strong>Voici nos conseils :</strong></h1>
        <ul>
          <li><h5>Votre position par rapport à vos objectifs :</h5></li>
          <%="Bravo, vous avez créé votre bilan carbone! Vous pouvez maintenant créer un plan d'action afin d'atteindre vos objectifs de réduction de vos émissions en 2030 : cliquez sur \"Plan d'Action\""%>
        </ul>
        <ul>
          <li><h5>Votre position par rapport aux meilleurs :</h5></li>
            <% if @footprint.nil? %>
              <%= "Vous n'avez pas encore calculé votre bilan carbone. Afin de prendre conscience de votre bilan, commencez par un brouillon que vous pourrez améliorer!" %>
            <% else %>
              <%= @footprint.ghg_result.fdiv(@company.employee_nb) > ((@footprint_benchmark_per_employee.round) * 1.05) ? "Votre bilan carbone est supérieur aux meilleurs. Pas de stress, nous vous suggérons des actions d'améliorations (\"passez à l'action\")" : "Bravo, vous vous comparez aux meilleurs. Vous pouvez tout de même être le leader en testant nos suggestions d'actions" %>
            <% end %>
        </ul>
      </div>
    </div>
  </div>
      <% if current_user != nil %>
          <% if current_user.company == nil %>
            <%= link_to "Calculez un nouveau bilan carbone", new_company_path, class: "btn btn-primary hero-button-bilan", style:"color:white" %>
          <% else %>
            <%= link_to "Calculez un nouveau bilan carbone", new_company_footprint_path(@company), class: "btn btn-primary hero-button-bilan", style:"color:white" %>
          <% end %>
        <% else %>
            <%= link_to "Calculez un nouveau bilan carbone", new_user_session_path, class: "btn btn-primary hero-button-bilan", style:"color:white" %>
      <% end %>
</div>
