<div class="containers">
  <div class="dashboard_navbar">
    <div class="dashboard_navbar_header">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" class="rounded-circle" style="width:80px; height:80px"/>
     <p><%= "#{@current_user.name}" %></p>
      <p><%= "#{@current_user.email}" %></p>
    </div>
    <div class="dashboard_navbar_body">
      <div class="dashboard">
        <%= link_to "Tableau de Bord", dashboard_path, data: {turbo: false} %>
      </div>
      <div class="fooprint">
        <%= link_to "Mon Bilan Carbone", mon_bilan_carbone_path, data: {turbo: false} %>
      </div>
      <div class="target">
        <%= link_to "Mon Plan d'Action", targets_path, data: {turbo: false} %>
      </div>
    </div>
    <div class="dashboard_navbar_footer">
      <div class="btn btn-primary">Se déconnecter</div>
    </div>
  </div>

  <div class="dashboard_content">

    <div class="dashboard_content_header">
      <div class="card-product">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-product-infos">
          <h2><%= "Société #{@company.name}" %></h2>
          </div>
      </div>
      <div class="card-product">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-product-infos">
        <h2><%= "Activité : #{@company.industry}" %></h2>
        </div>
      </div>
      <div class="card-product">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-product-infos">
        <h2>42 employés</h2>
        </div>
      </div>
    </div>

    <div class="dashboard_content_body">
      <div>
        <% if @footprint.ghg_result.nil? %>
          <%= link_to "Calculer mon Bilan Carbone", new_company_footprint_path(@company) %>
        <% else %>
          <div style="width: 800px;" class="chart-container" data-controller="chart"
              data-chart-my-value0="<%= @footprint_benchmark_per_employee.round %>"
              data-chart-my-value1="<%= @footprint.scope_1.fdiv(@company.employee_nb).round %>" data-chart-my-value2="<%= @footprint.scope_2.fdiv(@company.employee_nb).round %>"
              data-chart-my-value3="<%= @footprint.scope_3.fdiv(@company.employee_nb).round %>"
              data-chart-my-value4="<%= (@footprint.ghg_result.fdiv(@company.employee_nb) * 0.55).round %>"
              data-chart-my-value5="<%= (@footprint.ghg_result.fdiv(@company.employee_nb) * 0.23).round %>"
              data-chart-my-value6="<%= @footprint.ghg_target.fdiv(@company.employee_nb).round %>"
              @task_ghg_contribution_per_employee = 0
              <% @task_ghg_contribution_per_employee = @footprint.tasks.sum do |task| %>
                <% task.ghg_contribution %>
              <% end %>
              <% @task_ghg_contribution_per_employee = @task_ghg_contribution_per_employee.fdiv(@company.employee_nb)%>
              <% @footprint_post_action = (@footprint.ghg_result.fdiv(@company.employee_nb) - @task_ghg_contribution_per_employee).round  %>
              data-chart-my-value7="<%= @task_ghg_contribution_per_employee != 0 ? @footprint_post_action : 0 %>">
            <canvas id="tasks"></canvas>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
