<div class="containers">
  <div class="dashboard_navbar">
    <div class="dashboard_navbar_header">
      <% if current_user.photo %>
        <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <% end %>
      <p><%= "#{@current_user.name}" %></p>
      <p><%= "#{@current_user.position}" %></p>
    </div>
    <div class="dashboard_navbar_body">
      <div class="dashboard">
        <%= link_to "Tableau de Bord", dashboard_path, data: {turbo: false}, class: "btn btn-primary" %>
      </div>
      <div class="fooprint">
        <%= link_to "Mon Bilan Carbone", mon_bilan_carbone_path, data: {turbo: false}, class: "btn btn-primary" %>
      </div>
      <div class="target">
        <%= link_to "Mon Plan d'Action", targets_path, data: {turbo: false}, class: "btn btn-primary" %>
      </div>
    </div>
    <div class="dashboard_navbar_footer">
      <div class="btn btn-primary">Se déconnecter</div>
    </div>
  </div>

  <div class="dashboard_content">
    <div class="container-fluid navbar justify-content-end green-wave-top">
        <a class="navbar-brand ml-4" href="#">
          <%= image_tag "logo.png", class:"w-50 ps-4" %>
        <p>Réduisez votre empreinte carbone!</p>
        </a>
    </div>
    <div class="container-fluid justify-content-start">
      <div class="card-product">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-product-infos">
        <h2><%= "#{@company.name}, #{@company.employee_nb} collaborateurs" %></h2>
      </div>
    </div>

    <div class="dashboard_content_body">
      <div>
        <% if @footprint.ghg_result.nil? %>
          <%= link_to "Calculer mon Bilan Carbone", new_company_footprint_path(@company) %>
        <% else %>
          <div style="width: 800px;" class="chart-container" data-controller="chart"
              data-chart-my-value0="<%= @footprint_benchmark_per_employee.round %>"
              data-chart-my-value1="<%= @footprint.scope_1.fdiv(@company.employee_nb).round %>" data-chart-my-value2="<%= @footprint.scope_2.fdiv(@company.employee_nb).round %>"
              data-chart-my-value3="<%= @footprint.scope_3.fdiv(@company.employee_nb).round %>"
              data-chart-my-value4="<%= (@footprint.ghg_result.fdiv(@company.employee_nb) * 0.55).round %>"
              data-chart-my-value5="<%= (@footprint.ghg_result.fdiv(@company.employee_nb) * 0.23).round %>"
              data-chart-my-value6="<%= @footprint.ghg_target.fdiv(@company.employee_nb).round %>"
              @task_ghg_contribution_per_employee = 0
              <% @task_ghg_contribution_per_employee = @footprint.tasks.sum do |task| %>
                <% task.ghg_contribution %>
              <% end %>
              <% @task_ghg_contribution_per_employee = @task_ghg_contribution_per_employee.fdiv(@company.employee_nb)%>
              <% @footprint_post_action = (@footprint.ghg_result.fdiv(@company.employee_nb) - @task_ghg_contribution_per_employee).round  %>
              data-chart-my-value7="<%= @task_ghg_contribution_per_employee != 0 ? @footprint_post_action : 0 %>">
            <canvas id="tasks"></canvas>
          </div>
        <% end %>
      </div>

          <!-- Button trigger modal -->
      <div class="col-4">
        <ul>
        <h3>Voici nos conseils :</h3>
        <h5>Votre position par rapport à vos objectifs :</h5>
          <% if @footprint_post_action != 0 %>
            <%= @footprint_post_action > ((@footprint.ghg_result.fdiv(@company.employee_nb) * 0.55).round * 1.4) ? "Il vous reste des actions à entreprendre pour être sur vos objectifs SBTi! Continuez à tester nos idées d'actions" : "Bravo ! votre plan d'action vous permettrait d'atteeindre vos objectifs en 2030. Ne relâchez pas vos effforts et mesurez vos résultats en continu. Continuez à suivre nos conseils!" %>
          <% else %>
            <%= "Vous n'avez pas encore engagé de plan d'action et ne pourrez pas atteindre vos objectifs de réduction de vos émissions en 2030 : cliquez sur \passez à l'action\"" %>
          <% end %>
        </ul>
        <ul><h5>Votre position par rapport aux meilleurs :</h5>
          <%= @footprint.ghg_result.fdiv(@company.employee_nb) > ((@footprint_benchmark_per_employee.round) * 1.05) ? "Votre bilan carbone est supérieur aux meilleurs. Pas de stress, nous vous suggérons des actions d'améliorations (\"passez à l'action\")" : "Bravo, vous vous comparez aux meilleurs. Vous pouvez tout de même être le leader en testant nos suggestions d'actions" %>
        </ul>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Passez à l'action : voici nos suggestions !
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Liste des actions</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>

              <div class="modal-body">
                <p>
                  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    1 - Actions que nous vous suggerons
                  </button>
                </p>
                <div class="collapse" id="collapseExample">
                  <div class="card card-body">
                    <%= simple_form_for [@footprint, @task] do |f| %>
                      <%= f.input :start_date, :label => "Date de début de mise en oeuvre de l'action" %>
                      <%= f.input :end_date, :label => "Date effective de l'impact de votre action" %>
                      <%= f.association :owner, :label => "Désignez un membre de l'entreprise responsable de cette action", collection: current_user.company.users.all.order(name: :desc), :prompt => "Responsable" %>
                      <%= f.submit "Enregistrez votre action et réduisez votre bilan carbone!", class: "btn btn-primary" %>
                    <% end %>
                  </div>
                </div>

                <p>
                  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    2 - Créez <strong>vos actions</strong> de réduction et <strong>engagez</strong> vos collaborateurs
                  </button>
                </p>
                <div class="collapse" id="collapseExample">
                  <div class="card card-body">
                    <div class="container">
                      <%= simple_form_for [@footprint, @task] do |f| %>
                        <%= f.input :name, :label => "Nom de votre action"%>
                        <%= f.input :ghg_contribution, :label => "Impact de votre action (tonnes CO2eq/an), à la date effective de mise en oeuvre" %>
                        <%= f.input :start_date, :label => "Date de début de mise en oeuvre de l'action" %>
                        <%= f.input :end_date, :label => "Date effective de l'impact de votre action" %>
                        <%= f.association :owner, :label => "Désignez un membre de l'entreprise responsable de cette action", collection: current_user.company.users.all.order(name: :desc), :prompt => "Responsable" %>
                        <%= f.submit "Enregistrez votre action et réduisez votre bilan carbone!", class: "btn btn-primary" %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                <%# <button type="button" class="btn btn-primary">Save changes</button> %>
              </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
              <%# <button type="button" class="btn btn-primary">Save changes</button> %>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
