<div class="containers">
  <div class="dashboard_content">
    <div class="container-fluid navbar justify-content-end green-wave-top">
        <a class="navbar-brand ml-4" href="#">
          <%= image_tag "logo.png", class:"w-50 ps-4" %>
        <p>Réduisez votre empreinte carbone!</p>
        </a>
    </div>
    <h1>Les plus belles réussites de CoolCarb par secteur d'activité:</h1>
    <%= form_with url: companies_path, method: :get, class: "d-flex" do %>
      <%= select_tag :query,
        options_for_select(["Hôtel", "Restauration", "Santé", "Construction"])
      %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
    <div id="resultats" class="cards">
      <% if @companies %>
        <% @companies.each do |company, company_details| %>
          <div class="card-category">
           <p><h3><%= company.name %></h3></p>
           <p><h3>Année de reporting : <%=company_details["Année_de_reporting"]%></h3></p>
          </div>
      <% end %>
    </div>

    <% if user_signed_in? %>
      <% if current_user.company == nil %>
        <%= link_to "Calculez facilement votre bilan carbone", new_company_path, class: "btn btn-lg btn-primary" %>
      <% else %>
        <%= link_to "Calculez facilement votre bilan carbone", dashboard_path, class: "btn btn-lg btn-primary" %>
      <% end %>
    <% else %>
      <div class="row" style="padding:20px">
        <%= link_to "Calculez facilement votre bilan carbone", new_user_session_path, class: "btn btn-lg btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
