<div class="containers">
  <div class="dashboard_content">
    <h1>Réussites de sociétés de votre secteur qui ont utilisé CoolCarb :</h1>
    <label for="secteur">Sélectionnez votre secteur d'activité:</label>
    <select id="secteur">
		<option value="informatique">Restauration</option>
		<option value="finance">Hotelerie</option>
		<option value="santé">Santé</option>
		<option value="construction">Construction</option>
	</select>
	<button id="ok">OK</button>
  <%= javascript_include_tag 'script' %>
	<div id="resultats">
    <% @companies.each do |company| %>
      <li>Nom : <%= company.name %></li>
    <% end %>
  </div>
        <% if user_signed_in? %>
        <% if current_user.company == nil %>
          <%= link_to "Calculez facilement votre bilan carbone", new_company_path, class: "btn btn-lg btn-primary" %>
        <% else %>
          <%= link_to "Calculez facilement votre bilan carbone", dashboard_path, class: "btn btn-lg btn-primary" %>
        <% end %>
      <% else %>
      <div class="row" style="padding:20px">
          <%= link_to "Calculez facilement votre bilan carbone", new_user_session_path, class: "btn btn-lg btn-primary" %>
      </div>
      <% end %>
  </div>
</div>
