<div class="containers">
  <div class="dashboard_content">
    <div class="container-fluid navbar justify-content-end green-wave-top">
        <a class="navbar-brand ml-4" href="#">
          <%= image_tag "logo.png", class:"w-50 ps-4" %>
        <p>Réduisez votre empreinte carbone!</p>
        </a>
    </div>
    <h1>Réussites de sociétés de votre secteur qui ont utilisé CoolCarb :</h1>
    <label for="secteur">Sélectionnez votre secteur d'activité:</label>
    <select id="secteur">
      <option value="informatique">Restauration</option>
      <option value="finance">Hotelerie</option>
      <option value="santé">Santé</option>
      <option value="construction">Construction</option>
	  </select>
	  <button id="ok">OK</button>

  <div class="cards">
    <% @companies.each do |company, company_details| %>
      <div class="card-category">
        <p><h3><%= company.name %></h3></p>
        <p><h3>Année de reporting : <%=company_details["Année_de_reporting"]%></h3></p>
      </div>
    <% end %>
  </div>

  <%# <div id="resultats">
  </div> %>
        <% if user_signed_in? %>
        <% if current_user.company == nil %>
          <%= link_to "Calculez facilement votre bilan carbone", new_company_path, class: "btn btn-lg btn-primary" %>
        <% else %>
          <%= link_to "Calculez facilement votre bilan carbone", dashboard_path, class: "btn btn-lg btn-primary" %>
        <% end %>
      <% else %>
      <div class="row" style="padding:20px">
          <%= link_to "Calculez facilement votre bilan carbone", new_user_session_path, class: "btn btn-lg btn-primary" %>
      </div>
      <% end %>
  </div>
</div>
