<div class="containers">
  <div class="dashboard_content">
    <div class="container-fluid navbar justify-content-end green-wave-top">
        <a class="navbar-brand ml-4" href="#">
          <%= image_tag "logo.png", class:"w-50 ps-4" %>
        <p>Réduisez votre empreinte carbone!</p>
        </a>
    </div>
    <h1>Les plus belles réussites de CoolCarb par secteur d'activité:</h1>
    <%= form_with url: companies_path, method: :get, class: "d-flex" do %>
      <%= select_tag :query,
        options_for_select(["Hôtel", "Restauration", "Santé", "Construction"])
      %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>

    <div id="resultats" class="cards">
      <div class="ag-format-container">
        <div class="ag-courses_box">

          <% if @companies_with_details %>
            <% @companies_with_details.each do |company, company_details| %>
              <div class="ag-courses_item">
                <a href="<%=company_details["url"]%>" class="ag-courses-item_link">
                  <div class="ag-courses-item_bg"></div>

                  <div class="ag-courses-item_title">
                    <%= company.name %>
                  </div>

                  <div class="ag-courses-item_date-box">
                    Secteur
                    <span class="ag-courses-item_date">
                      <%=company_details["Secteur"]%>
                    </span>
                  </div>

                  <div class="ag-courses-item_date-box">
                    Année de reporting
                    <span class="ag-courses-item_date">
                      <%=company_details["Année_de_reporting"]%>
                    </span>
                  </div>

                  <div class="ag-courses-item_date-box">
                    Nombre de salariés
                    <span class="ag-courses-item_date">
                      <%= company.employee_nb %>
                    </span>
                  </div>

                  <div class="ag-courses-item_date-box">
                    Emissions
                    <span class="ag-courses-item_date">
                      <%= company.footprints.find_by(certified: true).ghg_result.round %>
                    </span>
                  </div>

                  <div class="ag-courses-item_date-box">
                    Emissions par employés
                    <span class="ag-courses-item_date">
                      <%= ((company.footprints.find_by(certified: true).ghg_result) / (company.employee_nb)).round %>
                    </span>
                  </div>
                </a>
              </div>
            <% end %>
          <% end %>

        </div>
      </div>
    </div>


    <% if user_signed_in? %>
      <% if current_user.company == nil %>
        <%= link_to "Calculez facilement votre bilan carbone", new_company_path, class: "btn btn-lg btn-primary" %>
      <% else %>
        <%= link_to "Calculez facilement votre bilan carbone", dashboard_path, class: "btn btn-lg btn-primary" %>
      <% end %>
    <% else %>
      <div class="row" style="padding:20px">
        <%= link_to "Calculez facilement votre bilan carbone", new_user_session_path, class: "btn btn-lg btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
