<div class="container-long-form" data-controller="long-form">
  <%# <h1>Un nouveau calcul de bilan carbone de <%=@company.name %></h1>
  <%= simple_form_for [@company, @footprint], html: {data: {long_form_target: "form"}} do |f| %>
    <%# <h2>Scope 1</h2>
      <h3>Bâtiments</h3> %>
        <div class="long-form-div" data-long-form-target="screen">
          <div class="inner-form">
            <%= f.input :taille_batiments, label: "Quelle est la surface de vos locaux (en m²) ?", autofocus: true %>
            <span class="span" data-action="click->long-form#next">Suivant</span>
          </div>
          <div class="astuce"></div>
        </div>

        <div class="long-form-div" data-long-form-target="screen">
          <div class="inner-form">
            <%= f.input :gaz, label: "Quelle est votre consommation de gaz par an ? (en MWh/an) ?" %>
            <span class="span" data-action="click->long-form#back">Précédent</span>
            <span class="span" data-action="click->long-form#next">Suivant</span>
          </div>
          <div class="astuce">Astuce : comptez 240 MWh/1000 m²/an</div>
        </div>

        <div class="long-form-div" data-long-form-target="screen">
          <div class="inner-form">
            <%= f.input :fioul, label: "Quelle est votre consommation de fioul par an ? (en milliers de litres/an) ?" %>
            <span class="span" data-action="click->long-form#back">Précédent</span>
            <span class="span" data-action="click->long-form#next">Suivant</span>
          </div>
          <div class="astuce">Astuce : comptez 2 milliers de litres/1000 m²/an</div>
        </div>

      <%# <h3>Véhicules</h3> %>
        <div class="long-form-div" data-long-form-target="screen">
          <div class="inner-form">
            <%= f.input :essence, label: "Combien de salariés utilisent une voiture à essence ?" %>
            <span class="span" data-action="click->long-form#back">Précédent</span>
            <span class="span" data-action="click->long-form#next">Suivant</span>
          </div>
          <div class="astuce">Astuce : la moyenne est de 1,4 milliers de litres/véhicule/an</div>
        </div>

        <div class="long-form-div" data-long-form-target="screen">
          <div class="inner-form">
            <%= f.input :gazole, label: "Combien de salariés utilisent une voiture diesel ?" %>
            <span class="span" data-action="click->long-form#back">Précédent</span>
            <span class="span" data-action="click->long-form#next">Suivant</span>
          </div>
          <div class="astuce">Astuce : comptez 1,2 milliers de litres/véhicule/an</div>
        </div>

    <%# <h2>Scope 2</h2> %>
      <%# <h3>Electricité</h3> %>
        <div class="long-form-div" data-long-form-target="screen">
          <div class="inner-form">
            <%= f.input :electricite, label: "Quelle consommation d'électricité par an (en MWh/an) ?" %>
            <span class="span" data-action="click->long-form#back">Précédent</span>
            <span class="span" data-action="click->long-form#next">Suivant</span>
          </div>
          <div class="astuce">Astuce : comptez 240 MWh/1000 m²/an</div>
        </div>

    <%# <h2>Scope 3</h2> %>
      <div class="long-form-div" data-long-form-target="screen">
        <div class="inner-form">
          <%= f.input :clients_fr, label: "Pourcentage de clients venant de France ? ex: Entrez 80 pour 80%" %>
          <span class="span" data-action="click->long-form#back">Précédent</span>
          <span class="span" data-action="click->long-form#next">Suivant</span>
        </div>
          <div class="astuce">Aide : arrivant et repartant en véhicules thermiques - 300 km aller-retour</div>
      </div>

      <div class="long-form-div" data-long-form-target="screen">
        <div class="inner-form">
          <%= f.input :clients_int, label: "Pourcentage de clients venant de l'étranger ? ex: Entrez 10 pour 10%" %>
          <span class="span" data-action="click->long-form#back">Précédent</span>
          <span class="span" data-action="click->long-form#next">Suivant</span>
        </div>
        <div class="astuce">Aide : arrivant et repartant en avion - 2 000 km aller-retour</div>
      </div>

      <div class="long-form-div" data-long-form-target="screen">
        <div class="inner-form">
          <%= f.input :fournisseurs, label: "Combien avez-vous de fournisseurs ?" %>
          <span class="span" data-action="click->long-form#back">Précédent</span>
          <span class="span" data-action="click->long-form#next">Suivant</span>
        </div>
        <div class="astuce">Astuce : comptez 0,01 milliers de litres/fournisseur/an</div>
      </div>

    <%# <h2>Voulez-vous certifier votre Bilan Carbone ?</h2> %>
      <div class="long-form-div" data-long-form-target="screen">
        <div class="inner-form">
          <%= f.input :certified, label: "Voulez-vous certifier ce bilan carbone ?"%>
          <span class="span" data-action="click->long-form#back">Précédent</span>
          <%= f.submit "Calculez le bilan carbone", class: "span" %>
        </div>
      </div>

  <% end %>
</div>
