<div class="container-long-form" data-controller="long-form">
  <%# <h1>Un nouveau calcul de bilan carbone de <%=@company.name %></h1>
  <%= simple_form_for [@company, @footprint] do |f| %>
    <%# <h2>Scope 1</h2>
      <h3>Bâtiments</h3> %>
        <div class="long-form-div" data-long-form-target="screen">
          <%= f.input :gaz, label: "Gaz (en Kwh)" %>
          <span class="span" data-action="click->long-form#next">Suivant</span>
        </div>

        <div class="long-form-div" data-long-form-target="screen">
          <%= f.input :fioul, label: "Fioul (en Kwh)" %>
          <span class="span" data-action="click->long-form#back">Précédent</span>
          <span class="span" data-action="click->long-form#next">Suivant</span>
        </div>

      <%# <h3>Véhicules</h3> %>
        <div class="long-form-div" data-long-form-target="screen">
          <%= f.input :essence, label: "Essence (en Litres)" %>
          <span class="span" data-action="click->long-form#back">Précédent</span>
          <span class="span" data-action="click->long-form#next">Suivant</span>
        </div>

        <div class="long-form-div" data-long-form-target="screen">
          <%= f.input :gazole, label: "Gazole (en Litres)" %>
          <span class="span" data-action="click->long-form#back">Précédent</span>
          <span class="span" data-action="click->long-form#next">Suivant</span>
        </div>

    <%# <h2>Scope 2</h2> %>
      <%# <h3>Electricité</h3> %>
        <div class="long-form-div" data-long-form-target="screen">
          <%= f.input :electricite, label: "Electricité (en Kwh)" %>
          <span class="span" data-action="click->long-form#back">Précédent</span>
          <span class="span" data-action="click->long-form#next">Suivant</span>
        </div>

    <%# <h2>Scope 3</h2> %>
      <div class="long-form-div" data-long-form-target="screen">
        <%= f.input :clients_fr, label: "Clients nationaux (en Km)" %>
        <span class="span" data-action="click->long-form#back">Précédent</span>
        <span class="span" data-action="click->long-form#next">Suivant</span>
      </div>

      <div class="long-form-div" data-long-form-target="screen">
        <%= f.input :clients_int, label: "Clients internationaux (en Km)" %>
        <span class="span" data-action="click->long-form#back">Précédent</span>
        <span class="span" data-action="click->long-form#next">Suivant</span>
      </div>

      <div class="long-form-div" data-long-form-target="screen">
        <%= f.input :fournisseurs, label: "Fournisseurs (en Litres)" %>
        <span class="span" data-action="click->long-form#back">Précédent</span>
        <span class="span" data-action="click->long-form#next">Suivant</span>
      </div>

      <div class="long-form-div" data-long-form-target="screen">
        <%= f.input :taille_batiments, label: "Fournisseurs (en M²)" %>
        <span class="span" data-action="click->long-form#back">Précédent</span>
        <span class="span" data-action="click->long-form#next">Suivant</span>
      </div>

    <%# <h2>Voulez-vous certifier votre Bilan Carbone ?</h2> %>
      <div class="long-form-div" data-long-form-target="screen">
        <%= f.input :certified, label: "Voulez-vous certifier ce bilan carbone ?"%>
        <span class="span" data-action="click->long-form#back">Précédent</span>
        <%= f.submit "Calculez le bilan carbone", class: "span" %>
      </div>

  <% end %>
</div>
