
<div style="width: 800px;" class="chart-container" data-controller="chart"
    data-chart-my-value0="<%= @footprint_benchmark_per_employee %>"
    data-chart-my-value1="<%= @footprint.scope_1.fdiv(@company.employee_nb) %>" data-chart-my-value2="<%= @footprint.scope_2.fdiv(@company.employee_nb) %>"
    data-chart-my-value3="<%= @footprint.scope_3.fdiv(@company.employee_nb) %>"
    data-chart-my-value4="<%= @footprint.ghg_result.fdiv(@company.employee_nb) * 0.55 %>"
    data-chart-my-value5="<%= @footprint.ghg_result.fdiv(@company.employee_nb) * 0.23 %>"
    data-chart-my-value6="<%= @footprint.ghg_target.fdiv(@company.employee_nb) %>">
  <canvas id="footprint"></canvas>
</div>

<div style="width: 800px;" class="chart-container" data-controller="chart">
  <canvas id="footprint_target"></canvas>
</div>

<ul class="list-group">
    <li class="list-group-item"><%= "Statut du bilan #{@footprint.certified}" %></li>
    <li class="list-group-item"><%= "Scope 1 par employé: #{@footprint.scope_1.fdiv(@company.employee_nb)}" %></li>
    <li class="list-group-item"><%= "Scope 2 par employé: #{@footprint.scope_2.fdiv(@company.employee_nb)}" %></li>
    <li class="list-group-item"><%= "Scope 3 par employé: #{@footprint.scope_3.fdiv(@company.employee_nb)}" %></li>
    <li class="list-group-item"><%= "Résultat du bilan par employé: #{@footprint.ghg_result.fdiv(@company.employee_nb)}" %></li>
    <li class="list-group-item"><%= "Objectif SBTi à 2030: #{@footprint.ghg_result.fdiv(@company.employee_nb) * 0.55}" %></li>
    <li class="list-group-item"><%= "Objectif SBTi à 2040: #{@footprint.ghg_result.fdiv(@company.employee_nb) * 0.23}" %></li>
    <li class="list-group-item"><%= "Objectif SBTi à 2050: #{@footprint.ghg_target.fdiv(@company.employee_nb).round}" %></li>
    <li class="list-group-item"><%= "Benchmark: #{@footprint_benchmark}" %></li>
    <li class="list-group-item"><%= "Benchmark (per employee): #{@footprint_benchmark_per_employee}" %></li>

</ul>
