<!DOCTYPE html>
<html>
  <head>
    <title>Coolcarb</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/2.0.2/js/bootstrap-dropdown.js"></script>
  </head>

  <body>
    <%= render "shared/navbar" unless params[:controller] == "footprints" && params[:action] == "new" ||
      params[:controller] == "pages" %>
    <%= render "shared/flashes" %>
    <%= yield %>
  </body>
</html>
